## Dataset Enreaching
#### Import libraries and clean dataset

In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import requests

In [2]:
load_dotenv()
APIKEY = os.getenv("APIKEY")

In [3]:
books = pd.read_csv("../output/books_clean.csv", index_col="ISBN13")
books.head()

,Title,Authors,Average Rating,Language Code,Num Pages,Ratings Count,Text Reviews Count
ISBN13,,,,,,,
8987059752,The World's First Love: Mary Mother of God,Fulton J. Sheen,4.58,eng,276,571,55
20049130001,The Illuminati,Larry Burkett,3.71,eng,352,59,8
23755004321,The Servant Leader,Kenneth H. Blanchard,4.07,eng,128,256,24
34406054602,What Life Was Like in the Jewel in the Crown: ...,"Time, Life Books",3.64,eng,168,42,4
49086007763,Cliffs Notes on Aristophanes' Lysistrata The ...,W. John Campbell,2.33,eng,80,3,0

#### Add books via O'Reilly Search API

In [17]:
base_url = "https://learning.oreilly.com"
endpoint = "/api/v2/search"

In [25]:
params = {
    "query": "python",
    "field": "title", 
    "formats": "book",
    "page": 0,
    "limit":200,
    "fields": ["isbn", "title", "authors", "language", "virtual_pages"]
}

In [26]:
res = requests.get(f"{base_url}{endpoint}", params=params)

In [27]:
res.status_code

200

In [20]:
res = res.json()

In [21]:
res.keys()

dict_keys(['results', 'facets', 'total', 'meta', 'page', 'previous', 'next'])

In [14]:
data1 = pd.DataFrame(res["results"])

In [35]:
data1 = data1.set_index("isbn").drop(columns="id")

In [40]:
data1.columns = ["Authors", "Language Code", "Title", "Num Pages"]

In [44]:
data1

,Authors,Language Code,Title,Num Pages
isbn,,,,
9781680502404,[Brian Okken],eng,Python Testing with pytest,262
9781789804744,"[Alex Galea, Luis Capelo]",eng,Applied Deep Learning with Python,383
9780133354461,[Katie Cunningham],eng,"Python in 24 Hours, Sams Teach Yourself, Secon...",436
9780321635518,[Mark Summerfield],eng,Advanced Python 3 Programming Techniques,97
9780135231364,"[Paul J. Deitel, Harvey Deitel]",eng,Python for Programmers,1243
...,...,...,...,...
9781785883804,[Osvaldo Martin],eng,Bayesian Analysis with Python,364
9781317206439,[Edwin S. Dalmaijer],eng,Python for Experimental Psychologists,301
9781783553297,"[Magnus Vilhelm Persson, Luiz Felipe Martins]",eng,Mastering Python Data Analysis,333
9781718500525,[Yuli Vasiliev],eng,Natural Language Processing with Python and spaCy,283
9781430232377,[Magnus Lie Hetland],eng,Python Algorithms: Mastering Basic Algorithms ...,624

In [43]:
data1["Language Code"] = data1["Language Code"].replace("en", "eng")

#### Goodreads

In [ ]:
base_url = "https://www.goodreads.com"

In [ ]:
endpoint = "/book/review_counts"
    # key: Developer key (required).
    # isbns: Array of ISBNs or a comma separated string of ISBNs (1000 ISBNs per request max.)
    # format: json
    # callback: function to wrap JSON response

In [ ]:
params = {"key": APIKEY, "format": "json", "isbns": 9781593276034}

In [ ]:
res = requests.get(f"{base_url}{endpoint}", params=params)

In [ ]:
data = res.json()

In [ ]:
data

In [31]:
list(range(0)

[]

In [28]:
7//8

0

In [29]:
9//4

2