## Dataset Enreaching
#### Import libraries and clean dataset

In [7]:
from dotenv import load_dotenv
import os
import pandas as pd
import re
import requests
from src.enrich import add_by_title, add_review_stats

In [2]:
load_dotenv()
APIKEY = os.getenv("APIKEY")

In [3]:
books = pd.read_csv("../output/books_clean.csv", index_col="ISBN")
books.head()

,Title,Authors,Average Rating,Language Code,Num Pages,Ratings Count,Text Reviews Count
ISBN,,,,,,,
8987059752,The World's First Love: Mary Mother of God,Fulton J. Sheen,4.58,eng,276,571,55
20049130001,The Illuminati,Larry Burkett,3.71,eng,352,59,8
23755004321,The Servant Leader,Kenneth H. Blanchard,4.07,eng,128,256,24
34406054602,What Life Was Like in the Jewel in the Crown: ...,"Time, Life Books",3.64,eng,168,42,4
49086007763,Cliffs Notes on Aristophanes' Lysistrata The ...,W. John Campbell,2.33,eng,80,3,0

#### Add books via O'Reilly Search API

In [9]:
for topic in ["python", "data analysis", "machine learning"]:
    books = add_by_title(books, topic)

In [10]:
books[books["Title"].str.contains(r"machine learning", flags=re.IGNORECASE)]

,Authors,Average Rating,Language Code,Num Pages,Ratings Count,Text Reviews Count,Title
ISBN,,,,,,,
9781449369415,"Andreas C. Müller, Sarah Guido",0.0,eng,549,0,0,Introduction to Machine Learning with Python
9780134845708,Mark Fenner,0.0,eng,986,0,0,Machine Learning with Python for Everyone
9781491989388,Chris Albon,0.0,eng,383,0,0,Machine Learning with Python Cookbook
9781119545637,Wei-Meng Lee,0.0,eng,350,0,0,Python Machine Learning
9781787125933,"Sebastian Raschka, Vahid Mirjalili",0.0,eng,794,0,0,Python Machine Learning
...,...,...,...,...,...,...,...
9781484232552,"Rosendo Abellera, Lakshman Bulusu",0.0,eng,298,0,0,Oracle Business Intelligence with Machine Lear...
9781484204450,"Roger Barga, Valentine Fontama, Wee Hyong Tok",0.0,eng,225,0,0,Predictive Analytics with Microsoft Azure Mach...
9781491936344,Stephen F. Elston,0.0,eng,68,0,0,Data Science in the Cloud with Microsoft Azure...
9781118618042,Jared Dean,0.0,eng,340,0,0,"Big Data, Data Mining, and Machine Learning: V..."
9781484209646,Mohammed Guller,0.0,eng,432,0,0,Big Data Analytics with Spark: A Practitioner’...

#### Add review stats via Goodreads API

In [5]:
add_review_stats(books)

In [ ]:
books[books["Title"].str.contains(r"machine learning", flags=re.IGNORECASE)]

#### Export to `.csv`

In [ ]:
books.to_csv("../output/books_enriched.csv")