## Dataset Enreaching
#### Import libraries and clean dataset

In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import requests

In [2]:
load_dotenv()
APIKEY = os.getenv("APIKEY")

In [3]:
books = pd.read_csv("../output/books_clean.csv", index_col="ISBN13")
books.head()

,Title,Authors,Average Rating,Language Code,Num Pages,Ratings Count,Text Reviews Count
ISBN13,,,,,,,
8987059752,The World's First Love: Mary Mother of God,Fulton J. Sheen,4.58,eng,276,571,55
20049130001,The Illuminati,Larry Burkett,3.71,eng,352,59,8
23755004321,The Servant Leader,Kenneth H. Blanchard,4.07,eng,128,256,24
34406054602,What Life Was Like in the Jewel in the Crown: ...,"Time, Life Books",3.64,eng,168,42,4
49086007763,Cliffs Notes on Aristophanes' Lysistrata The ...,W. John Campbell,2.33,eng,80,3,0

#### Add books via O'Reilly Search API

In [ ]:
base_url = "https://learning.oreilly.com"
endpoint = "/api/v2/search"

In [ ]:
params = {
    "query": "python",
    "field": "title", 
    "formats": "book", 
    "limit":200,
    "fields": ["isbn", "title", "authors", "language", "virtual_pages"]
}

In [ ]:
res = requests.get(f"{base_url}{endpoint}", params=params)

In [ ]:
res = res.json()

In [ ]:
res.keys()

In [ ]:
pd.json_normalize(res["results"])

#### Goodreads

In [ ]:
base_url = "https://www.goodreads.com"

In [ ]:
endpoint = "/book/review_counts"
    # key: Developer key (required).
    # isbns: Array of ISBNs or a comma separated string of ISBNs (1000 ISBNs per request max.)
    # format: json
    # callback: function to wrap JSON response

In [ ]:
params = {"key": APIKEY, "format": "json", "isbns": 9781593276034}

In [ ]:
res = requests.get(f"{base_url}{endpoint}", params=params)

In [ ]:
data = res.json()

In [ ]:
data